@font-face {
	font-family: "fontt";
	src: url("LEMONMILK-Bold.otf");
}

body {
	background-color: rgb(0,0,0);
	color: rgb(0,0,0);
	text-align: center;
	font-family: "fontt";
}

marquee {
	font-size: 70px;
	color: rgb(255,255,255);
	behavior:"scroll";
	text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 35px #a15, 0 0 54px #a15, 0 0 72px #a15, 0 0 81px #a15, 0 0 90px #a15;
	padding-top: 30px;
	padding-bottom: 50px;
}

#content {
	display: block;
	margin-left: auto;
	margin-right: auto
}

footer {
	font-size: 90%;
}
