@font-face {
	font-family: "ledlight";
	src: url(LEDLIGHT.otf);
}

body {
	background-color: rgb(0,0,0);
	color: rgb(0,0,0);
	text-align: center;
	font-family: "ledlight";
}

marquee {
	font-size: 70px;
	color: rgb(255,255,255);
	behavior:"scroll";
	text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

#content {
	display: block;
	margin-left: auto;
	margin-right: auto
}

footer {
	font-
	font-size: 90%;
}
